# Data Exploration & Stats

Use this Jupyter Notebook to explore the dataset(s) and create some initial visualizations to see trends in our data.

In [2]:
# imports and initial variables
import pandas as pd
dataset_name = "census_tracts.csv"
dataset_df = pd.read_csv(dataset_name)

In [3]:
# separate "name" column to more useful "census_tract", "county", and "state" attributes
dataset_df[["census_tract", "county", "state"]] = dataset_df["name"].str.split(", ", expand=True)
dataset_df = dataset_df.drop("name", axis=1)
dataset_df.head()

,geoid,total_population,total_population_25_over,median_income,median_home_value,educational_attainment,white_alone,black_alone,native_alone,asian_alone,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino,city,metro_area,census_tract,county,state
0,11001007503,2454,1425.0,26250.0,345600.0,308.0,122.0,2278.0,0.0,0.0,0.0,0.0,17.0,37.0,Washington,Washington-Arlington-Alexandria,Census Tract 75.03,District of Columbia,District of Columbia
1,11001007601,4855,3463.0,34840.0,255000.0,727.0,311.0,4292.0,0.0,0.0,13.0,0.0,41.0,198.0,Washington,Washington-Arlington-Alexandria,Census Tract 76.01,District of Columbia,District of Columbia
2,11001007709,2524,1817.0,33750.0,250000.0,344.0,20.0,2280.0,0.0,0.0,0.0,0.0,130.0,94.0,Washington,Washington-Arlington-Alexandria,Census Tract 77.09,District of Columbia,District of Columbia
3,11001009508,3691,2838.0,56404.0,356600.0,1008.0,211.0,2688.0,68.0,71.0,0.0,0.0,66.0,587.0,Washington,Washington-Arlington-Alexandria,Census Tract 95.08,District of Columbia,District of Columbia
4,11001009904,2979,1526.0,30728.0,298600.0,252.0,52.0,2375.0,0.0,0.0,15.0,0.0,46.0,491.0,Washington,Washington-Arlington-Alexandria,Census Tract 99.04,District of Columbia,District of Columbia

In [60]:
print(dataset_df[dataset_df["city"] == "New York City"]["county"].unique())

['Bergen County' 'Essex County' 'Hudson County' 'Hunterdon County'
 'Middlesex County' 'Monmouth County' 'Morris County' 'Ocean County'
 'Passaic County' 'Somerset County' 'Sussex County' 'Union County'
 'Bronx County' 'Dutchess County' 'Kings County' 'Nassau County'
 'New York County' 'Orange County' 'Putnam County' 'Queens County'
 'Richmond County' 'Rockland County' 'Suffolk County' 'Westchester County'
 'Pike County']
81

In [4]:
# find under 25, proportion of young people (stanza 1)
# add total_population_25_under column and proportion_under_25 column
dataset_name = "census_tracts.csv"
dataset_df = pd.read_csv(dataset_name)
print(dataset_df.columns)
"""
ma_total_pop= dataset_df.groupby("metro_area")["total_population"].sum()
ma_total_pop_over_25= dataset_df.groupby("metro_area")["total_population_25_over"].sum() # 25 and over (includes 25)
ma_total_pop_under_25 = ma_total_pop - ma_total_pop_over_25

proportion_under_25 = ma_total_pop_under_25 / ma_total_pop

print(f"ma_total_pop : {ma_total_pop}")
print(f"ma_total_pop_over_25 : {ma_total_pop_over_25}")
print(f"ma_total_pop_under_25: {ma_total_pop_under_25}")

dataset_df['total_population_25_under'] = ma_total_pop_under_25

dataset_df['proportion_under_25'] = proportion_under_25
"""

dataset_df["total_population_25_under"] = dataset_df["total_population"] - dataset_df["total_population_25_over"]
dataset_df["proportion_25_under"] = dataset_df["total_population_25_under"] / dataset_df["total_population"]
print(dataset_df.columns)

output_path = "census_tracts_processed.csv"

dataset_df.to_csv(output_path, index=False)

print(f"Updated dataset saved to {output_path}")


# Aggregate by city + print
ma_total_pop= dataset_df.groupby("metro_area")["total_population"].sum()
ma_total_pop_over_25= dataset_df.groupby("metro_area")["total_population_25_over"].sum() # 25 and over (includes 25)
ma_total_pop_under_25 = ma_total_pop - ma_total_pop_over_25

proportion_under_25 = round(((ma_total_pop_under_25 / ma_total_pop) * 100),3)

print(f"ma_total_pop : {ma_total_pop}")
print(f"ma_total_pop_over_25 : {ma_total_pop_over_25}")
print(f"ma_total_pop_under_25: {ma_total_pop_under_25}")
print(f"proportion_under_25: {proportion_under_25}")
dataset_df['total_population_25_under'] = ma_total_pop_under_25

dataset_df['proportion_under_25'] = proportion_under_25

Index(['geoid', 'name', 'total_population', 'total_population_25_over',
       'median_income', 'median_home_value', 'educational_attainment',
       'white_alone', 'black_alone', 'native_alone', 'asian_alone',
       'native_hawaiian_pacific_islander', 'some_other_race_alone',
       'two_or_more', 'hispanic_or_latino', 'city', 'metro_area'],
      dtype='object')
Index(['geoid', 'name', 'total_population', 'total_population_25_over',
       'median_income', 'median_home_value', 'educational_attainment',
       'white_alone', 'black_alone', 'native_alone', 'asian_alone',
       'native_hawaiian_pacific_islander', 'some_other_race_alone',
       'two_or_more', 'hispanic_or_latino', 'city', 'metro_area',
       'total_population_25_under', 'proportion_25_under'],
      dtype='object')
Updated dataset saved to census_tracts_processed.csv
ma_total_pop : metro_area
Atlanta-Sandy Springs-Alpharetta     5700990
Baltimore-Columbia-Towson            2792050
New York-Newark-Jersey City         20192042
San Francisco-Oakland-Berkeley       4641820
Washington-Arlington-Alexandria      4257324
Name: total_population, dtype: int64
ma_total_pop_over_25 : metro_area
Atlanta-Sandy Springs-Alpharetta     3736766.0
Baltimore-Columbia-Towson            1917838.0
New York-Newark-Jersey City         13942459.0
San Francisco-Oakland-Berkeley       3324746.0
Washington-Arlington-Alexandria      2917924.0
Name: total_population_25_over, dtype: float64
ma_total_pop_under_25: metro_area
Atlanta-Sandy Springs-Alpharetta    1964224.0
Baltimore-Columbia-Towson            874212.0
New York-Newark-Jersey City         6249583.0
San Francisco-Oakland-Berkeley      1317074.0
Washington-Arlington-Alexandria     1339400.0
dtype: float64
proportion_under_25: metro_area
Atlanta-Sandy Springs-Alpharetta    34.454
Baltimore-Columbia-Towson           31.311
New York-Newark-Jersey City         30.951
San Francisco-Oakland-Berkeley      28.374
Washington-Arlington-Alexandria     31.461
dtype: float64

In [ ]:
# find aggregate racial data per census tract (similarity of an area)

In [55]:
# get percentage of each race per county
county_data = dataset_df.groupby('county').agg({
    'total_population': 'sum',
    'white_alone': 'sum',
    'black_alone': 'sum',
    'hispanic_or_latino': 'sum',
    'asian_alone': 'sum',
    'native_alone': 'sum',
    'native_hawaiian_pacific_islander': 'sum',
    'some_other_race_alone': 'sum',
    'two_or_more': 'sum'
}).reset_index()

# Now calculate the proportions
county_data['white_pop'] = round(county_data['white_alone'] / county_data['total_population'], 3)
county_data['black_pop'] = round(county_data['black_alone'] / county_data['total_population'], 3)
county_data['hispanic_or_latino_pop'] = round(county_data['hispanic_or_latino'] / county_data['total_population'], 3)
county_data['asian_pop'] = round(county_data['asian_alone'] / county_data['total_population'], 3)
county_data['native_pop'] = round(county_data['native_alone'] / county_data['total_population'], 3)
county_data['native_hawaiian_pacific_islander_pop'] = round(county_data['native_hawaiian_pacific_islander'] / county_data['total_population'], 3)
county_data['some_other_race_alone_pop'] = round(county_data['some_other_race_alone'] / county_data['total_population'], 3)
county_data['two_or_more_pop'] = round(county_data['two_or_more'] / county_data['total_population'], 3)

# Print the results for each county
for _, row in county_data.iterrows():
    print(f"county: {row['county']}")
    print(f"white_pop: {row['white_pop']}")
    print(f"black_pop: {row['black_pop']}")
    print(f"hispanic_or_latino_pop: {row['hispanic_or_latino_pop']}")
    print(f"asian_pop: {row['asian_pop']}")
    print(f"native_pop: {row['native_pop']}")
    print(f"native_hawaiian_pacific_islander_pop: {row['native_hawaiian_pacific_islander_pop']}")
    print(f"some_other_race_alone_pop: {row['some_other_race_alone_pop']}")
    print(f"two_or_more_pop: {row['two_or_more_pop']}")
    #break

county: Alameda County
white_pop: 0.322
black_pop: 0.107
hispanic_or_latino_pop: 0.225
asian_pop: 0.287
native_pop: 0.006
native_hawaiian_pacific_islander_pop: 0.008
some_other_race_alone_pop: 0.003
two_or_more_pop: 0.044

In [54]:
# find median housing price, median income by metro_area
ma_median_home_values = dataset_df.groupby("metro_area")["median_home_value"].median()
ma_median_income = dataset_df.groupby("metro_area")["median_income"].median()
ma_income_to_home = ma_median_home_values / ma_median_income
print(ma_median_home_values)
print(ma_median_income)
print(ma_income_to_home)

metro_area
Atlanta-Sandy Springs-Alpharetta    165900.0
Baltimore-Columbia-Towson           245300.0
New York-Newark-Jersey City         419650.0
San Francisco-Oakland-Berkeley      687400.0
Washington-Arlington-Alexandria     356900.0
Name: median_home_value, dtype: float64
metro_area
Atlanta-Sandy Springs-Alpharetta    61307.0
Baltimore-Columbia-Towson           73625.0
New York-Newark-Jersey City         71566.5
San Francisco-Oakland-Berkeley      95681.5
Washington-Arlington-Alexandria     91489.0
Name: median_income, dtype: float64
metro_area
Atlanta-Sandy Springs-Alpharetta    2.706053
Baltimore-Columbia-Towson           3.331749
New York-Newark-Jersey City         5.863777
San Francisco-Oakland-Berkeley      7.184252
Washington-Arlington-Alexandria     3.901015
dtype: float64

In [65]:
# Proportion that attained a 4 year college degree
ma_agg_edu_attain = dataset_df.groupby("metro_area")["educational_attainment"].sum()
ma_agg_25_over = dataset_df.groupby("metro_area")["total_population_25_over"].sum()

ma_agg_ratio = ma_agg_edu_attain / ma_agg_25_over

print(f"ma_agg_edu_attain / ma_agg_25_over: {ma_agg_ratio}")

ma_agg_edu_attain / ma_agg_25_over: metro_area
Atlanta-Sandy Springs-Alpharetta    0.369791
Baltimore-Columbia-Towson           0.387321
New York-Newark-Jersey City         0.386609
San Francisco-Oakland-Berkeley      0.474304
Washington-Arlington-Alexandria     0.487450
dtype: float64