# Data Exploration & Stats

Use this Jupyter Notebook to explore the dataset(s) and create some initial visualizations to see trends in our data.

In [1]:
# imports and initial variables
import pandas as pd
dataset_name = "census_tracts.csv"
dataset_df = pd.read_csv(dataset_name)

In [2]:
# separate "name" column to more useful "census_tract", "county", and "state" attributes
dataset_df[["census_tract", "county", "state"]] = dataset_df["name"].str.split(", ", expand=True)
dataset_df = dataset_df.drop("name", axis=1)
dataset_df.head()

,geoid,total_population,total_population_25_over,median_income,median_home_value,educational_attainment,white_alone,black_alone,native_alone,asian_alone,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino,city,metro_area,census_tract,county,state
0,11001007503,2454,1425.0,26250.0,345600.0,308.0,122.0,2278.0,0.0,0.0,0.0,0.0,17.0,37.0,Washington,Washington-Arlington-Alexandria,Census Tract 75.03,District of Columbia,District of Columbia
1,11001007601,4855,3463.0,34840.0,255000.0,727.0,311.0,4292.0,0.0,0.0,13.0,0.0,41.0,198.0,Washington,Washington-Arlington-Alexandria,Census Tract 76.01,District of Columbia,District of Columbia
2,11001007709,2524,1817.0,33750.0,250000.0,344.0,20.0,2280.0,0.0,0.0,0.0,0.0,130.0,94.0,Washington,Washington-Arlington-Alexandria,Census Tract 77.09,District of Columbia,District of Columbia
3,11001009508,3691,2838.0,56404.0,356600.0,1008.0,211.0,2688.0,68.0,71.0,0.0,0.0,66.0,587.0,Washington,Washington-Arlington-Alexandria,Census Tract 95.08,District of Columbia,District of Columbia
4,11001009904,2979,1526.0,30728.0,298600.0,252.0,52.0,2375.0,0.0,0.0,15.0,0.0,46.0,491.0,Washington,Washington-Arlington-Alexandria,Census Tract 99.04,District of Columbia,District of Columbia

In [3]:
print(dataset_df[dataset_df["city"] == "New York City"]["county"].unique())

['Bergen County' 'Essex County' 'Hudson County' 'Hunterdon County'
 'Middlesex County' 'Monmouth County' 'Morris County' 'Ocean County'
 'Passaic County' 'Somerset County' 'Sussex County' 'Union County'
 'Bronx County' 'Dutchess County' 'Kings County' 'Nassau County'
 'New York County' 'Orange County' 'Putnam County' 'Queens County'
 'Richmond County' 'Rockland County' 'Suffolk County' 'Westchester County'
 'Pike County']

In [ ]:
# find under 25, proportion of young people (stanza 1)

In [ ]:
# find aggregate racial data per census tract (similarity of an area)

In [ ]:
# find average housing cost to median income